:root {
    --color-black: #141619;
    --color-darkgray: #2C2E3A;
    --color-gray: #B3B4BD;
    --color-lightgray: #E0E0E0;
    --color-darkblue: #050A44;
    --color-lightblue: #0A21C0;
    --color-white: #ffffff;
}