@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('./styles/variables.css');

body {
  background-color: var(--color-gray);
}

.heading {
  text-align: center;
  padding: 50px;
  font-size: 4rem;
  letter-spacing: 10px;
  font-family: 'Permanent Marker';
  font-style: italic;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

span {
  background: linear-gradient(to top right, var(--color-lightblue), var(--color-darkblue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}